---
layout: default
---

<h3>{{ page.title }}</h3>

{% if page.has_image %}
  {% assign img_file_name = page.path | split: '/' | last %}
  {% assign len = img_file_name | size | minus: 2 %}
  {% assign img_file_name2 = img_file_name | truncate: len, "" | append: "png" %}
  <img src="{{ img_file_name2 }}" style="float:left;width:250px;margin:0px 20px;">
{% endif %}

{{ page.content }}

{% assign darch_coll = 0 %}
{% for darch in site.collections %}
    {% if darch.label == "datarchives" %}
        {% assign darch_coll = darch %}
        {% break %}
    {% endif %}
{% endfor %}

{% assign ncols = darch_coll.formats | size | minus: 1 %}

<table>
  <tr>
    <th colspan="2">Download options</th>
  </tr>
  {% for i in (0..ncols) %}
    {% assign nkbytes = page.nbytes[i] | divided_by: 1000 %}
    {% assign nMbytes = page.nbytes[i] | divided_by: 1000000 %}
    {% if nkbytes < 1000 %}
      {% assign nbytes = nkbytes | append: "KB" %}
    {% else %}
      {% assign nbytes = nMbytes | append: "MB" %}
    {% endif %}
    {% if page.nbytes[i] > 0 %}
      <tr>
        <td><code><a href="{{ site.rawdata_baseurl }}/bindata/{{ page.stem }}{{darch_coll.formats[i]}}?raw=true" title="{{darch_coll.format_remarks[i]}}">{{ page.stem }}{{darch_coll.formats[i]}} ({{nbytes}})</a></code></td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

<table>
  <tr>
    <th colspan="2">Download integrity checks</th>
  </tr>

  <tr>
    <th>Format</th>
    <th>Size</th>
  </tr>
  {% for i in (0..ncols) %}
    {% assign nkbytes = page.nbytes[i] | divided_by: 1000 %}
    {% assign nMbytes = page.nbytes[i] | divided_by: 1000000 %}
    {% if nkbytes < 1000 %}
      {% assign nbytes = nkbytes | append: "KB" %}
    {% else %}
      {% assign nbytes = nMbytes | append: "MB" %}
    {% endif %}
    {% if page.nbytes[i] > 0 %}
      <tr>
        <td><code>{{darch_coll.formats[i]}}</code></td>
        <td><code>{{page.nbytes[i]}} ({{nbytes}}) </code><font style="font-size:1vw;">{{darch_coll.format_remarks[i]}}</font></td>
      </tr>
    {% endif %}
  {% endfor %}

  <tr>
    <th>Format</th>
    <th>SHA 256</th>
  </tr>
  {% for i in (0..ncols) %}
    {% if page.nbytes[i] > 0 %}
      <tr>
        <td><code>{{darch_coll.formats[i]}}</code></td>
        <td><code>{{page.sha256[i]}}</code></td>
      </tr>
    {% endif %}
  {% endfor %}

  <tr>
    <th>Format</th>
    <th>MD5</th>
  </tr>
  {% for i in (0..ncols) %}
    {% if page.nbytes[i] > 0 %}
      <tr>
        <td><code>{{darch_coll.formats[i]}}</code></td>
        <td><code>{{page.md5[i]}}</code></td>
      </tr>
    {% endif %}
  {% endfor %}

</table>
