---
layout: default
---

<h3>{{ page.title }}</h3>

{{ page.content }}

<table>
  <tr>
    <th colspan="2">File Names</th>
  </tr>
  <tr>
    <td colspan="2"><code><a href="{{ site.rawdata_baseurl }}/{{ page.stem }}.7z?raw=true">{{ page.stem }}.7z</a></code></td>
  </tr>
  <tr>
    <td colspan="2"><code><a href="{{ site.rawdata_baseurl }}/{{ page.stem }}.tar.gz?raw=true">{{ page.stem }}.tar.gz</a></code></td>
  </tr>
  <tr>
    <td colspan="2"><code><a href="{{ site.rawdata_baseurl }}/{{ page.stem }}.zip?raw=true">{{ page.stem }}.zip</a></code></td>
  </tr>
  <tr>
    <th>Extension</th>
    <th>File Sizes</th>
  </tr>
  <tr>
    <td><code>.7z</code></td>
    <td><code>{{ page.nbytes.7z }}</code></td>
  </tr>
  <tr>
    <td><code>.tar.gz</code></td>
    <td><code>{{ page.nbytes.tgz }}</code></td>
  </tr>
  <tr>
    <td><code>.zip</code></td>
    <td><code>{{ page.nbytes.zip }}</code></td>
  </tr>
  <tr>
    <th>Extension</th>
    <th>SHA 256</th>
  </tr>
  <tr>
    <td><code>.7z</code></td>
    <td><code>{{ page.sha256.7z }}</code></td>
  </tr>
  <tr>
    <td><code>.tar.gz</code></td>
    <td><code>{{ page.sha256.tgz }}</code></td>
  </tr>
  <tr>
    <td><code>.zip</code></td>
    <td><code>{{ page.sha256.zip }}</code></td>
  </tr>
  <tr>
    <th>Extension</th>
    <th>MD5</th>
  </tr>
  <tr>
    <td><code>.7z</code></td>
    <td><code>{{ page.md5.7z }}</code></td>
  </tr>
  <tr>
    <td><code>.tar.gz</code></td>
    <td><code>{{ page.md5.tgz }}</code></td>
  </tr>
  <tr>
    <td><code>.zip</code></td>
    <td><code>{{ page.md5.zip }}</code></td>
  </tr>
</table>
