---
layout: default
---

<h3>{{ page.title }}</h3>

{% if page.has_image %}
  {% assign img_file_name = page.path | split: '/' | last %}
{{ img_file_name }}
  {% assign len = img_file_name | size | minus: 2 %}
{{ len }}
  {% assign img_file_name2 = img_file_name | truncate: len, "" | append: "png" %}
{{ img_file_name2 }}
  <img src="{{ img_file_name2 }}" style="float:left;width:300px;">
{% endif %}

{{ page.content }}

<table>
  <tr>
    <th colspan="2">Download format options</th>
  </tr>
  {% if page.nbytes.7z %}
  <tr>
    <td colspan="2"><code><a href="{{ site.rawdata_baseurl }}/{{ page.stem }}.7z?raw=true">{{ page.stem }}.7z</a></code></td>
  </tr>
  {% endif %}
  {% if page.nbytes.tgz %}
  <tr>
    <td colspan="2"><code><a href="{{ site.rawdata_baseurl }}/{{ page.stem }}.tar.gz?raw=true">{{ page.stem }}.tar.gz</a></code></td>
  </tr>
  {% endif %}
  {% if page.nbytes.zip %}
  <tr>
    <td colspan="2"><code><a href="{{ site.rawdata_baseurl }}/{{ page.stem }}.zip?raw=true">{{ page.stem }}.zip</a></code></td>
  </tr>
  {% endif %}
  <tr>
    <th>Format</th>
    <th>Size</th>
  </tr>
  {% if page.nbytes.7z %}
  <tr>
    <td><code>.7z</code></td>
    <td><code>{{ page.nbytes.7z }}</code></td>
  </tr>
  {% endif %}
  {% if page.nbytes.tgz %}
  <tr>
    <td><code>.tar.gz</code></td>
    <td><code>{{ page.nbytes.tgz }}</code></td>
  </tr>
  {% endif %}
  {% if page.nbytes.zip %}
  <tr>
    <td><code>.zip</code></td>
    <td><code>{{ page.nbytes.zip }}</code></td>
  </tr>
  {% endif %}
  <tr>
    <th>Format</th>
    <th>SHA 256</th>
  </tr>
  {% if page.nbytes.7z %}
  <tr>
    <td><code>.7z</code></td>
    <td><code>{{ page.sha256.7z }}</code></td>
  </tr>
  {% endif %}
  {% if page.nbytes.tgz %}
  <tr>
    <td><code>.tar.gz</code></td>
    <td><code>{{ page.sha256.tgz }}</code></td>
  </tr>
  {% endif %}
  {% if page.nbytes.zip %}
  <tr>
    <td><code>.zip</code></td>
    <td><code>{{ page.sha256.zip }}</code></td>
  </tr>
  {% endif %}
  <tr>
    <th>Format</th>
    <th>MD5</th>
  </tr>
  {% if page.nbytes.7z %}
  <tr>
    <td><code>.7z</code></td>
    <td><code>{{ page.md5.7z }}</code></td>
  </tr>
  {% endif %}
  {% if page.nbytes.tgz %}
  <tr>
    <td><code>.tar.gz</code></td>
    <td><code>{{ page.md5.tgz }}</code></td>
  </tr>
  {% endif %}
  {% if page.nbytes.zip %}
  <tr>
    <td><code>.zip</code></td>
    <td><code>{{ page.md5.zip }}</code></td>
  </tr>
  {% endif %}
</table>
